<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='pdf.js') }}"></script>
    <title>Document-REAL</title>
</head>
<body class="navPad">
    <!-- https://codingyaar.com/responsive-bootstrap-navbar-templates-free/# -->
    <main>
        <header>
            <nav id="mainNavbar" class="navbar navbar-expand-lg fixed-top">
                <div class="container-fluid ">
                    <a class="navbar-brand" href="{{ url_for('index') }}"><img class="navbar-brand mr-auto img-fluid px-0 float-left" id="logo"src="{{ url_for('static', filename='ashe_logo.png') }}"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                     <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav me-0 mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ASHE & MEMBERSHIP
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ url_for('welcome') }}">Welcome ASHE</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('about') }}">About ASHE</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    SUBMISSION & SEARCH
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ url_for('write') }}">SUBMISSION</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('codeOfEthics') }}">ACADEMIC INTEGRITY</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('regulation') }}">THESIS REVIEW</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('guideline') }}">PAPER EDITING</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('post2_list') }}">PAPER SEARCH</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ASHE POSITIONS & POLICY
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ url_for('articlesOfIncorporation') }}">Articles of Incorporation</a></li>
                                    <!-- <li><a class="dropdown-item" href="#">임원명단</a></li> -->
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    LOGIN & SIGN UP
                                </a>
                                <ul class="dropdown-menu">
                                    {% block navlogin %}
                                    {% endblock %}
                                </ul>
                            </li>
                              </li>
                        </ul>
                     </div>
                </div>
            </nav>
        </header>
        <section>
            {% block picture %}{% endblock%}
            <div class="container">
                <div class="row">
                    {% block message%}{% endblock %}
                    {% block middle %}{% endblock%}
                </div>
            </div>
        </section>

<!-- FOOTER -->
        <footer class="text-center text-lg-start bg-white text-muted">
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            </section>
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="me-3 text-secondary" id="ashe_logo_small"><img src="{{ url_for('static', filename='ashe_logo_1.png') }}"></i>ASHE
                            </h6>
                            <p>
                            Welcome to the Asian Society Health and Exercise(ASHE).
                            </p>
                        </div>

                        <!-- <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                Useful links
                            </h6>
                            <p>
                                <a href="#!" class="text-reset">Research</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">??</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">??</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Help</a>
                            </p>
                        </div> -->

                        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                            <p><i class="fas fa-home me-3 text-secondary"></i>134, Yongindaehak-ro, Cheoin-gu,</p>
                            <p><i class="fas fa-home me-3 text-secondary"></i>Yongin-si, Gyeonggi-do,</p>
                            <p><i class="fas fa-home me-3 text-secondary"></i>Republic of Korea 17092</p>
                            <p>
                                <i class="fas fa-envelope me-3 text-secondary"></i>
                                    email@example.com
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
                © 2023 Copyright:
                <a class="text-reset fw-bold" href="#">Asian Society for Health and Exercise.</a>
            </div>
        </footer>


    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='pdf.js') }}"></script>

    <script>
        // When the user scrolls
        window.onscroll = function() {
          var navbar = document.getElementById("mainNavbar");
          
          // Add or remove the "scrolled" class based on the scroll position
          if (window.pageYOffset > 0) {
            navbar.classList.add("scrolled");
          } else {
            navbar.classList.remove("scrolled");
          }
        };
      </script>
</body>
</html>